* {
  padding: 0;
  margin: 0;
}

body {
  background: #1E2023;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

input {
  outline: none;
  border: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #1E2023;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 200%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: transparent;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: transparent;
}

.menu__btn {
  position: fixed;
  top: 50px;
  left: 77%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.hamburger-menu {
  display: none;
}

#header {
  background: #000000;
  padding: 20px 0;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--link a {
  font-weight: 500;
  font-size: 14px;
  padding: 0 10px;
  color: #FFFFFF;
}
#header .header--link a:hover {
  color: #9099A3;
  transition: 0.4s;
}
#header .header--service label select {
  border: none;
  outline: none;
  background: transparent;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}
#header .header--service label select option {
  color: black;
  background: transparent;
}
#header .header--service button {
  margin: 0 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 30px;
  background: #0096C7;
  border-radius: 10px;
  color: #FFFFFF;
}
#header .header--service button:hover {
  background: transparent;
  border: 2px solid #9099A3;
  box-shadow: none;
  color: #9099A3;
  transition: 0.3s;
}

#hero {
  min-height: 100vh;
}
#hero .hero h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  padding: 20px 0;
}
#hero .hero--btn button {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  background: #0096C7;
  padding: 10px 20px;
  box-shadow: 0 20px 40px rgba(26, 92, 255, 0.2);
  border-radius: 10px;
  color: #FFFFFF;
}
#hero .hero--btn button:hover {
  background: transparent;
  border: 2px solid #9099A3;
  box-shadow: none;
  color: #9099A3;
  transition: 0.3s;
}
#hero .hero--group {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template: repeat(2, 1fr)/1fr 1fr 1fr;
  grid-gap: 90px;
}
#hero .hero--group__block {
  width: 320px;
  height: 600px;
  background: #FFFFFF;
  border-radius: 15px;
}
#hero .hero--group__block--icon {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
#hero .hero--group__block--icon p {
  padding: 0 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9099A3;
}
#hero .hero--group__block h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2C3E50;
  padding: 10px 10px;
}
#hero .hero--group__block h4 {
  padding: 0 10px;
  font-weight: 400;
  width: 303px;
  font-size: 14px;
  line-height: 21px;
  color: #2C3E50;
}
#hero .hero--group__block button {
  font-weight: 900;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #FFFFFF;
  width: 180px;
  height: 40px;
  background: #0096C7;
  margin: 0 10px;
  float: right;
  border-radius: 15px;
}

#footer {
  margin: 100px 0 0 0;
}
#footer .footer--group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#footer .footer--group__text h1 {
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#footer .footer--group__text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #9099A3;
}
#footer .footer--group__service h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}
#footer .footer--group__service p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #9099A3;
}
#footer .footer--group__icon h1 {
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#footer .footer--group__icon ion-icon {
  color: white;
  font-size: 30px;
}
#footer .footer--pos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .footer--pos__block {
  display: flex;
  align-items: center;
}
#footer .footer--pos h6 {
  font-weight: 400;
  font-size: 9px;
  line-height: 14px;
  color: #9099A3;
}

/*# sourceMappingURL=style.css.map */
